@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  h1 {
    @apply text-5xl font-bold text-gray-900;
  }

  h2 {
    @apply text-4xl font-semibold text-gray-800 my-6;
  }

  h3 {
    @apply text-3xl font-medium text-gray-700 my-6;
  }

  p {
    @apply text-lg leading-relaxed my-4;
  }

  a {
    @apply text-blue-500 hover:text-blue-600 transition-colors;
  }

  a,
  button {
    @apply transition duration-[400ms] ease-in-out;
  }

  ul {
    @apply text-lg list-disc list-outside pl-6;
  }

  li {
    @apply my-2
  }

  .bright-btn {
    background-color: #eee;
  }

  .bright-btn:hover {
    background-color: #bbb;
    @apply shadow-md;
  }

  .dark-btn {
    background-color: #84C5F6;
    color: #0A3A67;
  }

  .dark-btn:hover {
    background-color: #4297E1;
  }

  //
  //colors: {
  //  secondary: '#80afd6',
  //  primary: '#84C5F6',
  //  accent: '#343e41',
  //  muted: '#0c1934',
  //},
  .hover-effect {
    position: relative;
  }

  .hover-effect::before {
    content: '';
    width: 0%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: .4s;
  }

  .hover-effect:hover::before {
    width: 100%;
  }

  table td,
  table th {
    @apply border font-semibold p-4 text-left;
  }
}